@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* Universal Style */
body{
    font-family: sans-serif;
    background-color: #7CC6FE;
    color: #242425;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

button{
    padding: 1em;
    font-size: 1rem;
}

label{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* Funtime Music Styles */
.title{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 4rem;
  
}

/* Filter styles */
.filter{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
.filterh3{
   text-align: center;
}

.search, .sort{
    border: none;
}

/* Play Buttons */
.playPause{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1rem;
}
.play{
    border: .2em #242425 solid;
    background-color: #FAFAFA;
}

/* Playlist Style */
.playlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
    text-align: center;
}

/* Song */
.song{
    background-color:#FAFAFA;
    border: .2rem solid #242425;
    padding: 1em;
}

.song img{
    width: 8rem;
    height: 8rem;
    object-fit:cover;
}